{% extends 'base.html' %}

{% block content %}
<main>
    <section class="background-section" id="experience" style="padding-top: 2rem;">
        <div class="container">
            <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 1rem;">
                <h2>Experience</h2>
                <!-- Tombol Tambah Pengalaman -->
                 {% if is_editor %}
                <a href="{% url 'main:create_experience' %}" class="button">Tambah Pengalaman</a>
                {% endif %}
            </div>
            
            <div class="skills-grid">
                {% for experience in experience_list %}
                <div class="bg-card">
                    <span class="skill-tag">{{ experience.get_category_display }}</span>
                    <h3>{{ experience.title }}</h3>
                    <p>{{ experience.description }}</p>
                    {% if experience.is_ongoing %}
                        <p style="margin-top: 1.25rem; color: var(--accent); font-weight: 700; font-size: 0.85rem;">On Going</p>
                    {% else %}
                        <p style="margin-top: 1.25rem; color: var(--text-muted); font-weight: 700; font-size: 0.85rem;">Completed</p>
                    {% endif %}
                    <div style="margin-top: 1rem;">
                        {% include "components/experience_star.html" with experience=experience %}
                    </div>
        
                    {% if is_editor %}
                    <div style="margin-top: 1.5rem; display: flex; gap: 0.5rem;">
                        <a href="{% url 'main:update_experience' experience.id %}" class="button" style="background-color: var(--secondary); color: var(--background);">Edit</a>
                        
                        <form method="POST" action="{% url 'main:delete_experience' experience.id %}" style="display:inline;">
                            {% csrf_token %}
                            <button type="submit" class="button button-danger" style="background-color: #ef4444; color: white;">Hapus</button>
                        </form>
                    </div>
                    {% endif %}
                </div>
                {% empty %}
                <p style="color: var(--text-muted);">Belum ada pengalaman yang ditambahkan.</p>
                {% endfor %}
            </div>
        </div>
    </section>
</main>
{% endblock content %}